* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #f1f5f9;
    text-shadow: 0px 2px 2px #0f172a;
}

button {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    overflow: auto;
  }
  
  .modal-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: #334155;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 1px solid #0f172a;
    height: 60%;
    min-width: 30%;
  }
  
  input {
    text-shadow: none;
  }
  
  .modalheader {
    grid-column: 1 / 3;
    height: auto;
    text-align: center;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
  }
  
  .form form {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    padding: 30px;
  }
  
  .form input {
    height: 30px;
    padding: 10px;
    font-size: 1rem;
    background-color: #334155;
    border: none;
    border-bottom: 1px solid #0f172a;
  }
  .form {
    display: flex;
    backdrop-filter: blur(2px);
  }
  
  .modalbuttons {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .modalbutton.add {
    background-color: #008000cb;
    border-bottom-right-radius: 15px;
  }
  
  .modalbutton.add:hover {
    background-color: #04ae04cc;
  }
  
  .modalbutton.cancel {
    background-color: rgba(220, 20, 60, 0.788);
    border-bottom-left-radius: 15px;
  }
  .modalbutton.cancel:hover {
    background-color: rgb(221, 47, 82);
  }
  
  .modalbutton {
    font-size: 26px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 3px;
  }
  
  .readInputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    font-size: 24px;
  }
  
  .readInputDiv input {
    height: 24px;
    width: 24px;
  }

  #readInput:hover {
    cursor: pointer;
  }
  
  .addBook {
    justify-self: flex-end;
    border: 3px solid #0f172a;
    background: #475569;
    padding: 10px 30px 10px;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 0px 2px 2px #0f172a;
    font-size: 20px;
  }
  
  .addBook:hover {
    background-color: #64748b;
  }
  
  .footerText a {
    text-decoration: none;
    color: #94a3b8;
    font-weight: 600;
  }

  .container {
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    width: 100vw;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    background-color: #1e293b;
    border-bottom: 3px solid rgb(27, 27, 27);
    z-index: 20;
  }
  
  .library {
    display: grid;
    justify-items:flex-start;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 5px 25px;
    background-color: #334155;
  }
  
  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0f172a;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    padding: 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 3px;
  }
  
  .bookTitle,
  .author,
  .pages {
    font-size: 20px;
    font-weight: 600;
  }

  .bookTitle {
    text-align: center;
    line-height: 27px;
    text-decoration: underline;
    text-underline-position: under;
  }
  
  .bookButton {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #0f172a;
    font-size: 24px;
    text-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 3px;
  }
  
  .read {
    background-color: rgb(60, 196, 60);
  }
  
  .remove,
  .notread {
    background-color: #c74d51;
  }
  
  .read:hover {
    background-color: rgb(79, 216, 79)
  }
  
  .remove:hover,
  .notread:hover {
    background-color: #e2585d;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e293b;
    text-shadow: 3px 2px 2px #0f172a;
  }